@import '~sass/_variables';

.page-header {
  padding-bottom: 1rem;
}

.page-title {
  text-align: center;
  border-bottom: 1px solid $black;
  padding: 0 0 2rem 0;
}

.body-container {
  padding: 2rem;
}
