<div class="body-container">
  <header class="page-header">
    <h1 class="page-title">{{ title }}</h1>
    <h2 class="page-title">A color guide for every team in the Overwatch League</h2>
  </header>

  <main class="main-body container-fluid">
    <app-teams></app-teams>
  </main>

  <footer class="body-footer text-center">
    <p>OWL Colors is a reference of HEX color values of Overwatch League teams.</p>
    <p>All color values are sourced from <a href="http://liquipedia.net/overwatch/Overwatch_League" rel="external" target="_blank">Liquidpedia team listings</a>.</p>
    <p>All logos belong to their respective owners, and were used for fun & learning.</p>
  </footer>
</div>
