<section class="sortBar mb-3">
  Sort By:
  <div class="btn-group btn-group-toggle" data-toggle="buttons" role="sort" aria-label="Sort by">
    <label class="btn btn-secondary active">
      <input type="radio" name="sortOptions" id="sortByLocale" autocomplete="off" checked />Locale
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="sortOptions" id="sortByTeam" autocomplete="off" />Team
    </label>
  </div>
</section>

<div class="team-cards">
  <div
  class="card"
  *ngFor="let t of allTeams"
  [ngStyle]="{'borderColor': t.colors[0] }"
  [ngClass]="t.name"
  >
    <div class="card-body">
      <h5 class="card-title">
        <span class="team-locale">{{t.locale | titlecase}}</span>
        <span class="team-name">{{t.name | titlecase}}</span>
      </h5>
    </div>
    <div class="card-footer" [ngStyle]="{'borderColor': t.colors[0] }">
      <div
        class="text-monospace color-item"
        *ngFor="let c of t.colors"
        [ngStyle]="{'backgroundColor': c }"
      >
        <span class="color-text">{{c}}</span>
      </div>
    </div>
  </div>
</div>
