<div class="team-cards">
  <div
  class="card"
  *ngFor="let t of allTeams"
  [ngStyle]="{'borderColor': t.colors[0] }"
  >
    <div class="card-body">
      <h5 class="card-title">
        {{t.locale | titlecase}} {{t.name | titlecase}}
      </h5>
    </div>
    <div class="card-footer" [ngStyle]="{'borderColor': t.colors[0] }">
      <div
        class="text-monospace color-item"
        *ngFor="let c of t.colors"
        [ngStyle]="{'backgroundColor': c }"
      >
        <span class="color-text">{{c}}</span>
      </div>
    </div>
  </div>
</div>
