@import '~sass/_variables';

.teams {
  max-width: 800px;
  margin: auto;
}

.team {
  display: flex;
  align-items: center;
  padding: 0;
  border-color: $black;
  overflow: hidden;

  .team-name {
    flex-grow: 1;
    padding: 0.75rem 1.25rem;
  }

  .color-item {
    align-self: stretch;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    color: transparent;
    border-left: 1px solid $black;
    transition: width .25s;
    overflow: hidden;

    .color-text {
      border: 1px solid $black;
      border-radius: .25em;
      background-color: #fff;
      font-size: 0.67em;
      padding: 0.5em 1em;
      box-shadow: inset 0 0 .5em rgba($black, 0.25);
      opacity: 0;
      transition: opacity .25s;
    }
  }

  &:hover {
    .color-item {
      width: 8rem;
      color: $black;

      .color-text {
        opacity: 1;
      }
    }
  }
}
