@import '~sass/_variables';

.sortBar {
  text-align: center;
}

.teams {
  // max-width: 800px;
  // margin: auto;
}

.team-cards {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.card {
  flex: 0 0 auto;
  margin-bottom: 1em;
  width: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    .color-text {
      opacity: 1;
      right: auto;
    }
  }

  &.charge {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/charge.svg');
  }

  &.defiant {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/defiant.svg');
  }

  &.dragons {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/dragons.svg');
  }

  &.dynasty {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/dynasty.svg');
  }

  &.eternal {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/eternal.svg');
  }

  &.excelsior {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/excelsior.svg');
  }

  &.fuel {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/fuel.svg');
  }

  &.fusion {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/fusion.svg');
  }

  &.gladiators {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/gladiators.svg');
  }

  &.hunters {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/hunters.svg');
  }

  &.justice {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/justice.svg');
  }

  &.mayhem {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/mayhem.svg');
  }

  &.outlaws {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/outlaws.svg');
  }

  &.reign {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/reign.svg');
  }

  &.shock {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/shock.svg');
  }

  &.spark {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/spark.svg');
  }

  &.spitfire {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/spitfire.svg');
  }

  &.titans {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/titans.svg');
  }

  &.uprising {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/uprising.svg');
  }

  &.valiant {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%), url('/assets/logos/valiant.svg');
  }
}

.card-title {
  text-align: center;

  .team-name,
  .team-locale {
    display: block;
  }

  .team-locale {
    font-size: 0.875em;
  }

  .team-name {
    text-transform: uppercase;
  }
}

.card-footer {
  padding: 0;
  display: flex;
  overflow: hidden;
}

.color-item {
  padding: 0.5rem;
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.color-text {
  border: 1px solid $black;
  border-radius: .25em;
  background-color: #fff;
  font-size: 0.67em;
  padding: 0.25em 0.5em;
  opacity: 0;
  transition: opacity .25s;
}

// .team {
//   display: flex;
//   align-items: center;
//   padding: 0;
//   border-color: $black;
//   overflow: hidden;
//
//   .team-name {
//     flex-grow: 1;
//     padding: 0.75rem 1.25rem;
//   }
//
//   .color-item {
//     align-self: stretch;
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     width: 2rem;
//     color: transparent;
//     border-left: 1px solid $black;
//     transition: width .25s;
//     overflow: hidden;
//
//     .color-text {
//       border: 1px solid $black;
//       border-radius: .25em;
//       background-color: #fff;
//       font-size: 0.67em;
//       padding: 0.5em 1em;
//       box-shadow: inset 0 0 .5em rgba($black, 0.25);
//       opacity: 0;
//       transition: opacity .25s;
//     }
//   }
//
//   &:hover {
//     .color-item {
//       width: 8rem;
//       color: $black;
//
//       .color-text {
//         opacity: 1;
//       }
//     }
//   }
// }
