<section class="sortBar mb-3">
  Sort By:
  <div class="btn-group" role="sort" aria-label="Sort by">
    <button type="button" class="btn btn-primary active" aria-pressed="true">Locale</button>
    <button type="button" class="btn btn-primary">Team</button>
  </div>
</section>

<div class="team-cards">
  <div
  class="card"
  *ngFor="let t of allTeams"
  [ngStyle]="{'borderColor': t.colors[0] }"
  [ngClass]="t.name"
  >
    <div class="card-body">
      <h5 class="card-title">
        <span class="team-locale">{{t.locale | titlecase}}</span>
        <span class="team-name">{{t.name | titlecase}}</span>
      </h5>
    </div>
    <div class="card-footer" [ngStyle]="{'borderColor': t.colors[0] }">
      <div
        class="text-monospace color-item"
        *ngFor="let c of t.colors"
        [ngStyle]="{'backgroundColor': c }"
      >
        <span class="color-text">{{c}}</span>
      </div>
    </div>
  </div>
</div>
